@model List<ProductDto>

@section title
{
    <h3>Products in category: "@ViewData["CategoryName"]"</h3>
}

@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>                
                <td><a class="btn btn-link" asp-controller="Products" asp-action="Edit" asp-route-productId="@product.Id"
                    asp-route-categoryId="@ViewData["CategoryId"]" asp-route-categoryName="@ViewData["CategoryName"]"
                       >Edit</a></td>
                <td><a class="btn btn-link" asp-controller="Products" asp-action="Delete" asp-route-productId="@product.Id"
                       asp-route-categoryId="@ViewData["CategoryId"]" asp-route-categoryName="@ViewData["CategoryName"]" onclick="confirmDelete()">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
}

<a class="btn btn-primary" asp-controller="Products" asp-action="Add" asp-route-categoryName="@ViewData["CategoryName"]"
   asp-route-categoryId="@ViewData["CategoryId"]">Add</a>

@section Scripts
{
    <script>
        function confirmDelete() {
            return confirm("Delete this product?")    
        }
    </script>
}