@model List<CategoryDto>

@section title
{
    <h3>Categories</h3>
}

@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td> <a class="btn btn-link" asp-controller="Products" asp-action="Index" 
                        asp-route-categoryName="@category.Name" asp-route-categoryId="@category.Id">@category.Name</a></td>
                <td>@category.Description</td>
                <td><a class="btn btn-link" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id">Edit</a></td>
                <td><a class="btn btn-link" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" onclick="return confirmDelete()">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
}
<a class="btn btn-primary" asp-controller="Categories" asp-action="Add">Add</a>

@section Scripts
{
    <script>
        function confirmDelete() {
            return confirm("Delete this category?")    
        }
    </script>
}
